{% extends "user_layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">{{ service.name }} Details</h2>
    <div class="service-details">

        <h4>Subcategories:</h4>
        <ul>
            {% for subcategory in subcategories %}
            <li>{{ subcategory.name }} - {{ subcategory.description }} - {{ subcategory.price }}</li>
            {% endfor %}
        </ul>

        <!-- Book Button -->
        <form action="{{ url_for('request_service') }}" method="POST">
            <input type="hidden" name="customer_id" value="{{ user.id }}">
            <input type="hidden" name="service_id" value="{{ service.id }}">
            <!-- Add other form fields like address, etc. -->
            <button type="submit" class="btn btn-primary">Book Service</button>
        </form>
    </div>
</div>
{% endblock %}
